@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}
.custom-button{
  background-color: orange;
  color: white;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  transition: all 0.5s ease-in;
  cursor: pointer;
  &:hover{
    transform: scale(105%);
  }
}

.container {
  display: flex;
  overflow-x: hidden;
  min-height: 86vh;

}

.menuContainer {
  padding: 5px 20px;
  background-color: #824bad;

  @include lg {
    width: max-content;
  }
}

.contentContainer {
  padding: 1.5rem 20px;
  width: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, #f0f0f0, #8c8b8b, #f0f0f0);
  margin-block: 5px;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

//heading
.page-heading h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
  transition: all 0.4s ease 0s;

  &:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  &::after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 12px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }
}
